.site-blocks-cover h1{
  }


  #map {
    height: 400px;  /* The height is 400 pixels */
    width: 90%;  /* The width is the width of the web page */
    }

  .maptxt {
   
    margin-bottom: .5em;
    font-size: 1.3em;
  }

  .featureImg {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
@media (max-width:768px){
  .site-footer {
      text-align: center;
  }
}



/*Carousel Images===================================================
Images Directory Index
         _
hero_1   |  
hero_2   | -  Images for Desktop
hero_3 _|

              _
hero_1_port   |  
hero_2_port   | -  Images for Phone in Portrait
hero_3_port _|


              _
hero_1_land   |  
hero_2_land   | -  Images for Phone in Landscape mode (same as desktop by default)
hero_3_land _|

*/

/*Images for Desktop and anything except phone*/

.imgCar1 {
  background-image: url("../images/hero_1.jpg");
}

.imgCar2 {
  background-image: url("../images/hero_2.jpg");
}

.imgCar3 {
  background-image: url("../images/hero_3.jpg");
}

/*Images for Phone in Portrait mode*/

@media (max-width:768) and (orientation: portrait) {
  .imgCar1 {
    background-image: url("../images/hero_1_port.jpg");
  }

  .imgCar2 {
    background-image: url("../images/hero_2_port.jpg");
  }
  
  .imgCar3 {
    background-image: url("../images/hero_3_port.jpg");
  }

}


/*Images for Phone in landscape mode
These are the same as desktop images, but can be changed*/

@media (orientation: landscape) {
  .imgCar1 {
    background-image: url("../images/hero_1_land.jpg");
    
  }

  .imgCar2 {
    background-image: url("../images/hero_2_land.jpg");
    
  }

  .imgCar3 {
    background-image: url("../images/hero_3_land.jpg");
    
  }

}

.container3xtast {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left:2em;
  padding-right: 2em;
}

.hero-text-padding {
  padding: 5em 0;
}

/* This is Sass code, to get pure CSS click on "scss" label above */
.mfp-with-fade .mfp-content,
.mfp-with-fade .mfp-arrow, .mfp-with-fade.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.mfp-with-fade.mfp-ready .mfp-content,
.mfp-with-fade.mfp-ready .mfp-arrow {
  opacity: 1;
}
.mfp-with-fade.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-with-fade.mfp-removing .mfp-content,
.mfp-with-fade.mfp-removing .mfp-arrow, .mfp-with-fade.mfp-removing.mfp-bg {
  opacity: 0;
}
